{% extends 'base.html.twig' %}

{% block title %}Edit Admin{% endblock %}

{% block body %}
    <h1>Edit Admin</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}
    <br/>
    <a class="btn btn-default" href="{{ path('app_admin_index') }}">back to list</a><br/>
    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
