{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Admin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ admin.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ admin.roles ? admin.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ admin.password }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ admin.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ admin.lastname }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ admin.createdAt ? admin.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ admin.updateAt ? admin.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>WorkUnit</th>
                <td>{{ admin.workUnit }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ admin.phoneNumber }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ admin.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_admin_index') }}">back to list</a>

    <a  class="btn btn-primary"  href="{{ path('app_admin_edit', {'id': admin.id}) }}">edit</a>
    <br/>
    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
